# Название окружения: development | production
NEXT_PUBLIC_APP_ENV=development
# Базовый URL публичного API (без ключа, CORS открыт, доступен из РФ)
NEXT_PUBLIC_API_BASE_URL=https://dummyjson.com
# Показывать ли баннер окружения в интерфейсе
NEXT_PUBLIC_SHOW_ENV_BANNER=true
# Уровень логирования: debug | info | warn | error
NEXT_PUBLIC_LOG_LEVEL=debug
# Feature flag: новостной виджет
NEXT_PUBLIC_FEATURE_NEWS_WIDGET=true
